<!--<head>-->
<!--  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!--</head>-->

<body>
  <!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form action='/plz/create' method='post' class="form-signin">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <span id="reauth-email" class="reauth-email"></span>
                <b>Name </b><p><%=@user.name%></p>
                <b>Password </b><p><%=@user.email%></p>
                
                <!-- /form -->
            <a href="/" class="forgot-password">
                Go Back
            </a><br><br><br>
			<table style="width:100%">
			  <tr>
				<th>LectureName</th>
				<th>Update</th>
			  </tr>
			  <%@lectures.each do |x|%>
			  <tr>
				<td><a href="https://uni.likelion.org/lectures/<%=x.id%>"><%=x.name%></a></td> 
				<td><%=x.created_at.strftime("%y.%m.%d, %a")%></td>
			  </tr>
			  <%end%>
			  
			</table>
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>